{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h1>@{{user.username}}</h1>
		</div>
		<div class="col-md-8">
			{% for note in object_list %}
				{% if note.user.username == user.username  %}				
					<div class="note-wrap note-white">
						<h1>{{note.title}}</h1>
						<h3>{{note.text|safe}}</h3>
						<h5>Created by: @{{note.user.username}}</h5>
						<h5>{{note.created}}</h5>
						<a href="{% url 'notes:update' pk=note.pk %}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a href="{% url 'notes:delete' pk=note.pk %}" class="anchor">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
						<a href="{% url 'notes:sharesingle' pk=note.pk %}" class="anchor">
							<span class="glyphicon glyphicon-share"></span>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}