{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h1>@{{user.username}}</h1>
		</div>
		<div class="col-md-8">
			{% for sharednote in object_list %}
				{% if sharednote.user.username == user.username  %}				
					<div class="note-wrap note-white">
						<h1>{{sharednote.note.title}}</h1>
						<h3>{{sharednote.note.text|safe}}</h3>
						<h5>Shared by: @{{sharednote.shared_by}}</h5>
						<h5>{{sharednote.shared_on}}</h5>
						{% if sharednote.can_edit is True %}
							<a href="{% url 'notes:update' pk=sharednote.note.pk %}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}